/*
      Folha de estilo do site one page HTML5 e CSS3
      @author Thais Moura de Oliveira
*/

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){
    body{
        background-color: aqua;
    }
}
/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){
    body{
        background-color: #ff0;
    }
}
/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px){
    body{
        background-color: #f60;
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px){
    body{
        background-color: #f00;
    }
}

